.AudioRecorder {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: #282828;
}

.AudioRecorder i {
    color: white;
}

.AudioRecorder:hover {
    outline: none;
    box-shadow: none;
    background-color: #0c0c0c;
}

.Recording {
    background-color: rgb(253, 31, 31);
}

.Recording:hover {
    outline: none;
    box-shadow: none;
    background-color: rgb(152, 21, 21);
}

.AudioRecorder:focus {
    outline: none;
    box-shadow: none;
}
