.TextInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.TextInput label {
    font-size: 15px;
    margin-bottom: 10px;
}

.TextInput input {
    width: calc(100% - 40px);
    height: 30px;
    border-radius: 5px;
    border: 1px solid #222;
    display: inline-block;
}

.TextInput p {
    color: red;
    display: none;
}

.TextInput.Wrong p {
    display: block;
}

.TextInput div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.inputDiv span {
    display: inline-block;
    border: 1px solid #222;
    color: white;
    background-color: #222;
    height: 30px;
    width: 40px;
    padding-right: 5px;
    border-right: none;
    transform: translate(2px);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 2px;
}

.inputDiv input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
